{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    // parser engine needs TS project for typing rules
    "project": "tsconfig.eslint.json",
    "tsconfigRootDir": "."
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-unsafe-argument": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/restrict-plus-operands": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-undef": "off",

    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "(?!I)[A-Z]",
          "match": true
        }
      }
    ],

    "comma-dangle": ["error", "never"],
    "quotes": "off",
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "quote-props": ["error", "consistent-as-needed"],
    // this rule was disabled because it not allowed using a function as the function params.
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-namespace": "off",
    "curly": ["error"],
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "semi": "off",
    "semi-spacing": "error",
    "@typescript-eslint/semi": "warn",
    "@typescript-eslint/consistent-type-definitions": "error",
    "eol-last": "warn",
    "no-eval": "error",
    "no-new-wrappers": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef-init": "warn",
    "no-var": "warn",
    "prefer-const": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "prettier"
  ]
}
